<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.mtc" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Mr Time Clock</name>
    <description>
        The begining of it all!
    </description>
    <author email="daniel@sasserenterprises.com" href="http://sasserenterprises.com">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
