@charset "utf-8";
.center
{
	margin: auto;
	width: 75%;
	height: 350px;
	background-color: #e5e5e5;
	border-radius: 10px;
}
.center2
{
	margin: auto;
	width: 90%;
	height: 325px;
	background-color: #ffffff;
	top: 12.5px;
	position: relative;
	border-radius: 10px;
}
#fade {
}
#fade {
	background-color: #000;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;
	right: 0px;
	z-index: 3;
	opacity:0.4;
}
sales@zombejuice.com